$color-gray-dark:   #111;
$color-gray-medium: #4e4e4e;
$color-gray-light:  #808080;
$color-gold-light:  #ffb137;
$color-gold-dark:   #b27514;

$dimen-min-width: 320px;
$dimen-row-height: 44px; // TODO ems
$dimen-index-width: 7.5vw;
$dim-index-height: 7.5vw;

// Reset
body, p, h1, ol, li {
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-gray-medium;
  color: white;
  font-size: 16px;
  overflow: hidden;;
  min-width: $dimen-min-width;
}

my-app {
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

rune-header {
  background-color: $color-gray-dark;
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.333);
  height: $dimen-row-height;

  header {
    display: table;

    > * {
      display: table-cell;
      vertical-align: middle;
    }
  }

  h1 {
    margin-left: 1em;
  }

  .expando {
    width: 100%;
  }

  .divider:before {
    border-left: 1px solid $color-gray-light;
    content: '';
    display: inline-block;
    height: 65%;
  }

  a {
    padding: 0 1em;
  }
}

.rune-content {
  display: flex;
  flex: 1;
}

rune-index {
  border: 1px solid $color-gold-light;
  overflow: hidden;
  width: $dimen-index-width;

  ol {
    list-style-type: none;
  }

  li {
    font-size: 5vw;
    height: $dim-index-height;
    text-align: center;

    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.6);
    }

    &:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

card-list {
  flex: 1;
  overflow: auto;
}

// Icons

i.icon {
  background-image: url('static/img/sprites.svg');
  background-repeat: no-repeat;
  background-size: 1200%;
  display: inline-block;
  height: 1em;
  width: 1em;
}

.icon-add {
  background-position: 0 0;
}

.icon-search {
  background-position: 0 9.1%;
}

.icon-menu {
  background-position: 0 18.2%;
}
