$color-gray-dark:   #111;
$color-gray-medium: #4e4e4e;
$color-gray-light:  #808080;
$color-gold-light:  #ffb137;
$color-gold-dark:   #b27514;

$dimen-row-height: 88px;

// Reset
body, p, h1 {
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-gray-medium;
  color: white;
}

h1 {
  font-size: 48px;
}

rune-header {
  background-color: $color-gray-dark;
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.333);
  display: block;
  height: $dimen-row-height;

  h1 {
    float: left;
    margin-left: 24px;
    margin-top: 20px;
  }

  .divider {
    border-left: 1px solid $color-gray-light;
    float: right;
    height: 70px;
    margin: 9px 0;
    width: 1px;
  }

  a {
    float: right;
    margin: 20px 12px;
  }
}

// Icons

i.icon {
  background-image: url('static/img/sprites.svg');
  background-repeat: no-repeat;
  background-size: 1200%;
  display: inline-block;
  height: 48px;
  width: 48px;
}

.icon-add {
  background-position: 0 0;
}

.icon-search {
  background-position: 0 9.1%;
}

.icon-menu {
  background-position: 0 18.2%;
}
