$col-1: 0;
$col-2: 11%;
$col-3: 26%;
$col-4: 38.3%;
$col-5: 50%;
$col-6: 62%;
$col-7: 73%;
$col-8: 77%;
$col-9: 97.5%;

$row-1: 0;
$row-2: 25.5%;
$row-3: 50%;
$row-4: 75%;
$row-5: 100%;

i.icon {
  background-image: url('static/img/sprites.svg');
  background-repeat: no-repeat;
  background-size: 900%;
  display: inline-block;
  height: 1em;
  width: 1em;
}

.icon-add {
  background-position: 0 0;
}

.icon-search {
  background-position: $col-1 $row-2;
}

.icon-menu {
  background-position: $col-1 $row-3;
}

// Mana icons

.mana-icon {
  background-position: $col-9 $row-2;

  // Single colors
  &.White {
    background-position: $col-3 $row-1;
  }
  &.Blue {
    background-position: $col-3 $row-2;
  }
  &.Black {
    background-position: $col-3 $row-3;
  }
  &.Red {
    background-position: $col-3 $row-4;
  }
  &.Green {
    background-position: $col-3 $row-5;
  }

  // Dual colors
  &.White.Blue {
    background-position: $col-4 $row-2;
  }
  &.White.Black {
    background-position: $col-4 $row-3;
  }
  &.White.Red {
    background-position: $col-4 $row-4;
  }
  &.White.Green {
    background-position: $col-4 $row-5;
  }
  &.Blue.Black {
    background-position: $col-5 $row-3;
  }
  &.Blue.Red {
    background-position: $col-5 $row-4;
  }
  &.Blue.Green {
    background-position: $col-5 $row-5;
  }
  &.Black.Red {
    background-position: $col-6 $row-4;
  }
  &.Black.Green {
    background-position: $col-6 $row-5;
  }
  &.Red.Green {
    background-position: $col-7 $row-5;
  }

  // Triple colors

  // Quad colors

  // Five color
  &.White.Blue.Black.Red.Green {
    background-position: $col-9 $row-1;
  }
}
