i.icon {
  background-image: url('static/img/sprites.svg');
  background-repeat: no-repeat;
  background-size: 1200%;
  display: inline-block;
  height: 1em;
  width: 1em;
}

.icon-add {
  background-position: 0 0;
}

.icon-search {
  background-position: 0 9.1%;
}

.icon-menu {
  background-position: 0 18.2%;
}
