@import 'reset';
@import 'icons';

$color-gray-dark:   #111;
$color-gray-medium: #4e4e4e;
$color-gray-light:  #808080;
$color-gold-light:  #ffb137;
$color-gold-dark:   #b27514;

$dim-min-width: 320px;
$dim-row-height: 2.75em; // 44px@100%
$dimen-index-width: 7.5vw;
$dim-whitespace: 2.5vw; // 8px@320
$dim-index-height: 7.5vw;

html {
  min-height: $dim-min-width;
  min-width: $dim-min-width;
}

body {
  background-color: $color-gray-medium;
  color: white;
  font-size: 16px;
  overflow: hidden;;
}

my-app {
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

rune-header {
  align-items: center;
  background-color: $color-gray-dark;
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.333);
  display: flex;
  height: $dim-row-height;

  h1 {
    flex: 1;
    margin-left: 2 * $dim-whitespace;;
  }

  .divider:before {
    border-left: 1px solid $color-gray-light;
    content: '';
    height: 65%;
  }

  a,
  .divider {
    padding-right: 1em;
  }
}

.rune-content {
  display: flex;
  flex: 1;
}

rune-index {
  border: 1px solid $color-gold-light;
  overflow: hidden;
  width: $dimen-index-width;

  ol {
    list-style-type: none;
  }

  li {
    font-size: 5vw;
    height: $dim-index-height;
    text-align: center;

    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.6);
    }

    &:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

card-list {
  flex: 1;
  overflow: auto;
  padding-left: $dim-whitespace;
}

card-list-item {
  align-items: center;
  border-bottom: 1px solid $color-gray-light;
  display: flex;
  height: $dim-row-height;
  margin-right: 2 * $dim-whitespace;

  h3 {
    flex: 1;
  }

  span.Black {
    background: $color-gray-dark;
    border: 2px solid white;
    border-radius: 50%;
    height: 1em;
    width: 1em;
  }
}
